:root {
    --txt-color: #EEE;
    --accent-color: #9d00ff;
    --accent-color-hover: #9d00ff55;
    --accent-color-transparent: #9d00ff22;
    --bg-color: #333;
    --bg-color-dark: #111;
    --popup-bg-color: #333;
    --content-padding: 10px;
    --border-radius: 10px;
    --item-size: 6em;
    --red: #920909;
    --green: #099209;
    --map-background-color: #333333;
}
.shocker {
    background: #222222;
    border: var(--accent-color) solid 1px;
    border-radius: var(--border-radius);
    padding: 1em;
    marin-bottom: 1em;
}

body {
    margin: 20px;
}

.between {
    display: flex;
    justify-content: space-between !important;
}

.relative {
    position: relative;
}

.bottom {
    align-items: flex-end;
}

.red {
    background-color: var(--red) !important;
}

.green {
    background-color: var(--green) !important;
}

.content_bg {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    padding: var(--content-padding);
    margin: var(--content-padding);
}

button {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--accent-color);
    margin: 5px;
    background-color: #333;
    color: #EEE;
}

.activated {
    background-color: var(--accent-color);
    color: #EEE;
}

input {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--accent-color);
    margin: 5px;
    background-color: var(--bg-color);
    color: var(--txt-color)
}

@font-face {
    font-family: 'Open Sans';
    src: url("/Open_Sans/static/OpenSans-Regular.ttf") format('truetype');
}

body {
    color: var(--txt-color);
    margin: 0px;
    height: 100vh;
    font-family: "Open Sans";
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: rgb(10,73,122);
    background: -moz-linear-gradient(30deg, rgba(59,0,149,1) 0%, rgba(10,73,122,1) 40%, rgba(55,107,27,1) 75%, rgba(54,153,0,1) 100%);
    background: -webkit-linear-gradient(30deg, rgba(59,0,149,1) 0%, rgba(10,73,122,1) 40%, rgba(55,107,27,1) 75%, rgba(54,153,0,1) 100%);
    background: linear-gradient(30deg, rgba(59,0,149,1) 0%, rgba(10,73,122,1) 40%, rgba(55,107,27,1) 75%, rgba(54,153,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b0095",endColorstr="#369900",GradientType=1); 
    transform: scale(1.1);
    overflow: hidden;
    filter: brightness(0.5);
}

.flex {
    display: flex;
    justify-content: left;
}

.vertical {
    flex-direction: column;
}

.main_container {
    width: 100%;
    padding: var(--content-padding);
    background-color: #FFF2;
    border-radius: var(--border-radius);
    margin: var(--content-padding);
}

.scroll_overflow {
    overflow-y: auto;
    height: 100%;
}

.body {
    padding: 10px;
}

.public_marker {
    background-color: var(--accent-color);
    color: var(--txt-color);
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.noMargin {
    margin: 0;
    margin-right: 0;
}

.root_container {
    display: flex;
    height: 100%;
}
