:root {
    --txt-color: #EEE;
    --accent-color: #9d00ff;
    --accent-color-border: #a75bd1;
    --accent-color-hover: #9d00ff55;
    --accent-color-transparent: #9d00ff22;
    --bg-color: #333;
    --bg-color-dark: #111;
    --popup-bg-color: #333;
    --content-padding: 10px;
    --border-radius: 10px;
    --item-size: 6em;
    --red: #920909;
    --green: #099209;
    --map-background-color: #333333;
    --link-color: #00a6ff;
    --warning-color: #ffc400;
    --warning-bg: #4e3d00;
    --orange: #bc8f00;
}
.shocker {
    background: #222222;
    border: var(--accent-color) solid 1px;
    border-radius: var(--border-radius);
    padding: .5em;
    margin-bottom: .5em;
}

.warning {
    border: var(--warning-color) solid 1px;
    background: var(--warning-bg);
}

select {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--accent-color);
    margin: 5px;
    background-color: var(--bg-color);
    color: var(--txt-color)
}

a {
    color: var(--link-color);
}

body {
    margin: 20px;
}

.between {
    display: flex;
    justify-content: space-between !important;
}

.relative {
    position: relative;
}

.bottom {
    align-items: flex-end;
}

.red {
    background-color: var(--red) !important;
    border-color: var(--red) !important;
}

.green {
    background-color: var(--green) !important;
    border-color: var(--green) !important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color-dark);
    -webkit-transition: .2s;
    transition: .2s;
}

.flex-middle {
    display: flex;
    align-items: center;
    
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: var(--accent-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider {
    border-radius: 34px;
}

.slider:before {
    border-radius: 50%;
}

.content_bg {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    padding: var(--content-padding);
    margin: var(--content-padding);
}

.round {

    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: background-color,border-color 0.2s;
}

.on {
    background-color: var(--accent-color);
    border-color: var(--accent-color-border);

}

.off {
    background-color: var(--bg-color-dark);
    border-color: var(--bg-color);
}

button {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--accent-color);
    margin: 5px;
    background-color: #333;
    color: #EEE;
}

.activated {
    background-color: var(--accent-color);
    color: #EEE;
}

input {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--accent-color);
    margin: 5px;
    background-color: var(--bg-color);
    color: var(--txt-color)
}

@font-face {
    font-family: 'Open Sans';
    src: url("/Open_Sans/static/OpenSans-Regular.ttf") format('truetype');
}

body {
    color: var(--txt-color);
    height: 100vh;
    font-family: "Open Sans";
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: rgb(10,73,122);
    background: -moz-linear-gradient(30deg, rgba(59,0,149,1) 0%, rgba(10,73,122,1) 40%, rgba(55,107,27,1) 75%, rgba(54,153,0,1) 100%);
    background: -webkit-linear-gradient(30deg, rgba(59,0,149,1) 0%, rgba(10,73,122,1) 40%, rgba(55,107,27,1) 75%, rgba(54,153,0,1) 100%);
    background: linear-gradient(30deg, rgba(59,0,149,1) 0%, rgba(10,73,122,1) 40%, rgba(55,107,27,1) 75%, rgba(54,153,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b0095",endColorstr="#369900",GradientType=1); 
    transform: scale(1.1);
    overflow: hidden;
    filter: brightness(0.5);
}

.flex {
    display: flex;
    justify-content: left;
}

.vertical {
    flex-direction: column;
}

.main_container {
    width: 100%;
    padding: var(--content-padding);
    background-color: #FFF2;
    border-radius: var(--border-radius);
    margin: var(--content-padding);
}

.scroll_overflow {
    overflow-y: auto;
    height: 100%;
}

.body {
    padding: 10px;
}

.public_marker {
    background-color: var(--accent-color);
    color: var(--txt-color);
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.noMargin {
    margin: 0;
    margin-right: 0;
}

.root_container {
    display: flex;
    height: 100%;
}
